body {
    background-color: #141414;
    box-sizing: border-box;
    margin: auto;
    /* overflow: hidden; */ /*apenas um teste */
}
.card:hover {
    -webkit-transform: scale(1.05);   
}
.conjunto {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #141414;
    justify-content: center; 
    margin: auto;
    align-items: center;  
}
.title {
    width: 100%;
    text-align: center;
    color:red;
    font-weight: bold;
    font-size: 30px;
}
.card{
    transition: all 1s e;
    width:250px;
    box-shadow: 0 0 99px 9px #000;
    height: 500px;
}

.thumbnail{
    width:100%;
    height: 100%;
}
