*{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

.lol{
    border-style: double;
    text-decoration: underline;
    font-style: italic;

}

.mine{
    border: 2px dotted white;
    


}

.euro{
    border-radius: 10px white;
    border: solid 10px white;
    

}

.texto{
    text-align: justify;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    
}

h1{
    text-transform: uppercase;
    margin: auto;
}

img{
    margin: 0 30% 0 40%;

}

.lol_img{
position: static;
float: none;
}

.mine_img{
position: static;
float: none;

}

.euro_img{
position: static;
float: none;
}

